* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-ajast: 100%;
  -moz-text-size-ajast: 100%;
  -webkit-text-size-ajast: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #F2F4FF;
  font-family: "Jost", sans-serif;
}

.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  width: 825px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 16px;
}
.suggestion__left-part, .suggestion__right-part {
  width: 80px;
}
.suggestion__right-part {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.suggestion__center-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 615px;
  height: 95px;
}
.suggestion__voting {
  height: 53px;
  width: 40px;
  border-radius: 10px;
  background-color: #F2F4FF;
}
.suggestion__voting:hover {
  background-color: #CFD7FF;
  cursor: pointer;
}
.suggestion__voting-arrow {
  height: 26px;
  background-image: url("../assets/shared/icon-arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.suggestion__voting-number {
  color: #3A4374;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}
.suggestion__voting_voted {
  background-color: #4661E6;
}
.suggestion__voting_voted .suggestion__voting-arrow {
  background-image: url("../assets/shared/icon-arrow-down-white.svg");
}
.suggestion__voting_voted .suggestion__voting-number {
  color: #FFFFFF;
}
.suggestion__voting_voted:hover {
  background-color: #7C91F9;
}
.suggestion__suggestion-title {
  font-size: 18px;
  font-weight: 700;
  color: #3A4374;
}
.suggestion__suggestion-description {
  font-size: 16px;
  font-weight: 400;
  color: #647196;
}
.suggestion__right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.suggestion__comments-number {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #3A4374;
}
.suggestion:hover {
  cursor: pointer;
}
.suggestion:hover .suggestion__suggestion-title {
  color: #4661E6;
}

.tag {
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: #4661E6;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #F2F4FF;
}

.tag_active {
  color: #FFFFFF;
  background-color: #4661E6;
}

.go-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.go-back__arrow {
  height: 10px;
  width: 10px;
  background-image: url("../assets/shared/icon-arrow-left-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.go-back__text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
}
.go-back :hover {
  cursor: pointer;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  padding-top: 94px;
}

.go-back__arrow {
  background-image: url("../assets/shared/icon-arrow-left.svg");
}
.go-back__text {
  color: #647196;
  font-size: 14px;
}

.details_container {
  width: 730px;
}
.details_container div:last-child {
  margin-bottom: 0;
}

.suggestion-overview {
  margin-bottom: 24px;
}

.suggestion {
  width: 730px;
}
.suggestion:hover {
  cursor: auto;
}
.suggestion:hover .suggestion__suggestion-title {
  color: #3A4374;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  margin-bottom: 24px;
}
.header #edit-feedback-button {
  padding: 0 24px;
  border-radius: 10px;
  color: #FFFFFF;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  background-color: #4661E6;
}
.header #edit-feedback-button:hover {
  cursor: pointer;
  background-color: #7C91F9;
}

.comments-container {
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 24px;
}
.comments-container__header {
  font-size: 18px;
  font-weight: 700;
  color: #3A4374;
}
.comments-container div:last-child {
  border-bottom: none;
}

.comment {
  padding: 24px 0;
  border-bottom: 1px solid #CFD7FF;
}
.comment__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment__user-picture img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.comment__user-name {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 24px;
}
.comment__real-name {
  font-size: 14px;
  font-weight: 700;
  color: #3A4374;
  margin-bottom: 4px;
}
.comment__nick-name {
  font-size: 14px;
  font-weight: 400;
  color: #647196;
}
.comment__text {
  font-size: 15px;
  font-weight: 400;
  color: #647196;
  margin-left: 20px;
  padding: 12px 12px 12px 44px;
}
.comment__reply-button {
  font-size: 13px;
  font-weight: 600;
  color: #4661E6;
}
.comment__reply-button:hover {
  cursor: pointer;
  color: #7C91F9;
}

.add-comment {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 24px;
}
.add-comment__title {
  font-size: 18px;
  font-weight: 700;
  color: #3A4374;
  margin-bottom: 36px;
}
.add-comment__text-input {
  width: 100%;
  height: 100px;
  padding: 12px 24px;
  background-color: #F2F4FF;
  border-radius: 10px;
  resize: none;
  font-size: 15px;
  font-weight: 400;
  color: #3A4374;
  margin-bottom: 12px;
}
.add-comment__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.add-comment__characters-limit {
  font-size: 16px;
}

#post-comment-button {
  height: 40px;
  line-height: 40px;
  background-color: #AD1FEA;
  border-radius: 10px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

#post-comment-button:hover {
  cursor: pointer;
  background-color: #C75AF6;
}

.reply-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 24px;
}
.reply-window__text-area {
  height: 100px;
  width: 100%;
  resize: none;
  border-radius: 10px;
  margin-right: 24px;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 400;
  color: #3A4374;
  border: 1px solid #4661E6;
  background-color: #F2F4FF;
}
.reply-window__post-button {
  color: #FFFFFF;
  background-color: #AD1FEA;
  border-radius: 10px;
  padding: 8px 16px;
  height: 44px;
  width: 120px;
  text-align: center;
}

.reply {
  margin-left: 20px;
  padding-left: 24px;
  border-bottom: none;
}
.reply__reply-button {
  cursor: pointer;
}
.reply__reply-button {
  font-size: 13px;
  font-weight: 600;
  color: #4661E6;
}
.reply__reply-button:hover {
  cursor: pointer;
  color: #7C91F9;
}

.reply-to {
  font-weight: 700;
  color: #AD1FEA;
}

@media screen and (max-width: 1110px) {
  .container {
    padding-top: 56px;
  }
}